<form method="POST" action="/user">
  <fieldset>
    <legend>Personal Details:</legend>
    <label>Name:</label>
    <input name="name" type="text" /><br />
    <label>Email:</label>
    <input name="email" type="text" /><br />
    <input type="submit" value="Signup" /><br />
  </fieldset>
</form>